<a href="https://colab.research.google.com/github/Satyendra0207/Spark_collab/blob/main/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
from pyspark import SparkConf,SparkContext

ModuleNotFoundError: ignored

In [ ]:
if __name__=="__main__":
  conf=SparkConf().setAppName("rdd").setMaster("local[2]")
  #if you work on a hadoop environment then we will use Yarn cluster
  #conf=SparkConf.setAppName("rdd").setMaster("yarn")
  sc=SparkContext(conf=conf)

In [ ]:
ibmrdd=sc.textFile("IBMdata.csv")

In [ ]:
ibmrdd.take(3)

['Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager',
 '41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5',
 '49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7']

In [ ]:
ibmrdd.top(5) #header is also in the output

['Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager',
 '60,No,Travel_Rarely,696,Sales,7,4,Marketing,1,1233,2,Male,52,4,2,Sales Executive,4,Divorced,5220,10893,0,Y,Yes,18,3,2,80,1,12,3,3,11,7,1,9',
 '60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,549,1,Female,41,3,5,Manager,1,Married,19566,3854,5,Y,No,11,3,4,80,0,33,5,1,29,8,11,10',
 '60,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,1697,3,Male,92,1,3,Healthcare Representative,4,Divorced,10883,20467,3,Y,No,20,4,3,80,1,19,2,4,1,0,0,0',
 '60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,732,1,Male,84,3,2,Sales Executive,1,Single,5405,11924,8,Y,No,14,3,4,80,0,10,1,3,2,2,2,2']

In [ ]:
agerdd=ibmrdd.map(lambda x:x.split(",")[0])
agerdd.top(4)

['Age', '60', '60', '60']

In [ ]:
newage=agerdd.filter(lambda x:x>60)
newage.count()

#newage=count()----Type error --string int comparison
This error is generated due to lazy evaluation
this means that when the transformation is done ,spark actually does not do anything ,it does only when the action is executed

In [ ]:
#this command will give error because age is string 
#it is not possible to convert age into integer

In [ ]:
header=ibmrdd.first()  # taking out all the header row from the data 
print(header)

Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager

In [ ]:
#filtering wihtout including header
newibmrdd=ibmrdd.filter(lambda x:x!=header)

In [ ]:
newibmrdd.take(3)

['41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5',
 '49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7',
 '37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0']

In [ ]:
age2=newibmrdd.map(lambda x:x.split(",")[0])
result=age2.filter(lambda x:int(x)>50) #int is used as split returns string
result.count()

143

In [ ]:
#the result of transformation function (filter/map/ )is always rdd
#the result of action function may be anything (take)

In [ ]:
def func(record):
  daily=record.split(",")[3]  #split function returns string values 
  monthly=record.split(",")[19]
  res=(int(daily)*30)-int(monthly)
  return  res

In [ ]:
result=newibmrdd.map(func)
result.take(2)

[13581, -16537]

In [ ]:
type(result)

pyspark.rdd.PipelinedRDD

In [ ]:
result.top(4) # result of top and take is different because we are using two machines

[42125, 41963, 41373, 41101]

In [ ]:
result.count()

143

In [ ]:
#distinct to count distinct values 
uniqueage=result.distinct()
uniqueage.collect()

['53', '56', '54', '57', '60', '59', '55', '51', '58', '52']

In [ ]:
new5=result.reduce(lambda x,y:int(x)+int(y))
new5

7808

In [ ]:
#determining the total daily rate 
dr=newibmrdd.map(lambda x:x.split(",")[3])
totaldr=dr.reduce(lambda x,y:int(x)+int(y)) # int(x)+int(y)--genrates total sum of column 
totaldr

1179654

In [ ]:
# it will return the no partition in which data is divided initially --"local[2]"
#this is similar to map reduce algorithm discussed in hadoop
newibmrdd.getNumPartitions()

2

In [ ]:
#sample out of large data set 
samp=newibmrdd.sample(withReplacement=False,fraction=0.01,seed=1000)
samp.collect()

['30,No,Travel_Frequently,721,Research & Development,1,2,Medical,1,57,3,Female,58,3,2,Laboratory Technician,4,Single,4011,10781,1,Y,No,23,4,4,80,0,12,2,3,12,8,3,7',
 '36,No,Travel_Rarely,1403,Research & Development,6,3,Life Sciences,1,373,4,Male,47,3,1,Laboratory Technician,4,Married,3210,20251,0,Y,No,11,3,3,80,1,16,4,3,15,13,10,11',
 '27,No,Travel_Rarely,1220,Research & Development,5,3,Life Sciences,1,434,3,Female,85,3,1,Research Scientist,2,Single,2478,20938,1,Y,Yes,12,3,2,80,0,4,2,2,4,3,1,2',
 '31,No,Travel_Rarely,1232,Research & Development,7,4,Medical,1,462,3,Female,39,3,3,Manufacturing Director,4,Single,7143,25713,1,Y,Yes,14,3,3,80,0,11,2,2,11,9,4,10',
 '54,No,Travel_Rarely,821,Research & Development,5,2,Medical,1,522,1,Male,86,3,5,Research Director,1,Married,19406,8509,4,Y,No,11,3,3,80,1,24,4,2,4,2,1,2',
 '44,No,Travel_Rarely,625,Research & Development,4,3,Medical,1,852,4,Male,50,3,2,Healthcare Representative,2,Single,5933,5197,9,Y,No,12,3,4,80,0,10,2,2,5,2,2,3',
 '40,No,Travel_Frequently,1469,Research & Development,9,4,Medical,1,964,4,Male,35,3,1,Research Scientist,2,Divorced,3617,25063,8,Y,Yes,14,3,4,80,1,3,2,3,1,1,0,0',
 '40,Yes,Travel_Rarely,299,Sales,25,4,Marketing,1,1318,4,Male,57,2,3,Sales Executive,2,Single,9094,17235,2,Y,Yes,12,3,3,80,0,9,2,3,5,4,1,0',
 '29,Yes,Travel_Frequently,337,Research & Development,14,1,Other,1,1421,3,Female,84,3,3,Healthcare Representative,4,Single,7553,22930,0,Y,Yes,12,3,1,80,0,9,1,3,8,7,7,7',
 '31,Yes,Travel_Frequently,523,Research & Development,2,3,Life Sciences,1,1464,2,Male,94,3,1,Laboratory Technician,4,Married,3722,21081,6,Y,Yes,13,3,3,80,1,7,2,1,2,2,2,2']

In [ ]:
#random split of data ---weight denotes no split here 4 split
randomsplit=newibmrdd.randomSplit(weights=[0.1,0.2,0.5,0.3],seed=1000)
print(randomsplit[0].count()) # randomsplit[0]/[1]/[2]/[3] they all become rdd and all function are applicable
print(randomsplit[1].count())
print(randomsplit[2].count())
print(randomsplit[3].count())

116
266
662
426

In [ ]:
randomsplit[0].take(3)

['30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,4,Male,67,3,1,Laboratory Technician,3,Divorced,2693,13335,1,Y,No,22,4,2,80,1,1,2,3,1,0,0,0',
 '28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,3,Male,50,2,1,Laboratory Technician,3,Single,2028,12947,5,Y,Yes,14,3,2,80,0,6,4,3,4,2,0,3',
 '32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,2,Female,72,1,1,Research Scientist,1,Single,3919,4681,1,Y,Yes,22,4,2,80,0,10,5,3,10,2,6,7']

In [ ]:
randomsplit

[PythonRDD[47] at RDD at PythonRDD.scala:53,
 PythonRDD[48] at RDD at PythonRDD.scala:53,
 PythonRDD[49] at RDD at PythonRDD.scala:53,
 PythonRDD[50] at RDD at PythonRDD.scala:53]

In [ ]:
#countby value--action function
travelrdd=newibmrdd.map(lambda x:x.split(",")[2])
travelrdd.take(7)

['Travel_Rarely',
 'Travel_Frequently',
 'Travel_Rarely',
 'Travel_Frequently',
 'Travel_Rarely',
 'Travel_Frequently',
 'Travel_Rarely']

In [ ]:
travelrdd.distinct()

PythonRDD[66] at RDD at PythonRDD.scala:53

In [ ]:
travelrdd.countByValue()

defaultdict(int,
            {'Non-Travel': 150,
             'Travel_Frequently': 277,
             'Travel_Rarely': 1043})

In [ ]:
result1=travelrdd.countByValue() # it returns distinct count of each category in travel column

NameError: ignored

In [ ]:
for word ,count in result1.items():
  print("{},occured,{} times".format(word,count))

Travel_Rarely,occured,1043
Travel_Frequently,occured,277
Non-Travel,occured,150

In [ ]:
#countByKey()
travelrdd.countByKey()

defaultdict(int, {'N': 150, 'T': 1320})

In [ ]:
#flatmap()